# 1 Requirements
The material contained in this repository comprises both data and software.

## 1.1 Storage Requirements
We provide the raw coverage measurements as a compressed archive file. The uncompressed
coverage data requires approximately 60GB. However, the uncomressed coverage data is not required 
for running the interactive dashboard. 

## 1.2 Software Environments

### 1.2.1 Experimental Data and Observations
The experimental data is available in machine-readable CSV (comma-separated value) files and can be
used with both common spreadsheet software or used for automated analyses. 

### 1.2.2 Interactive Dashboard
The interactive dashboard is implemented in Python 3 and provided as a containerized 
application via Docker. Hence, no specific operating system nor Python installation is required.